/* RESET WEB DEFAULT & FONTS */
* {
    font-family: "Kanit", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* COLOR VARIBLE */
:root {
    --black: #1e2328;
    --midblack: #2a2e34;
    --grey: #3b3f46;
    --yellow: #ec9c04;
    --midyellow: #f5b301;
    --lightyellow: #fed053;
}

/* NAVIGATION BAR */
.menu {
    display: flex;
    height: 75px;
    background-color: var(--black);
    align-items: center;
    justify-content: space-between;
}

.menu h3 {
    color: white;
}

.logo-name {
    margin-left: 1em;
    background-color: var(--black);
    color: white;
    font-size: larger;
}

.logo-name2 {
    background-color: var(--black);
    color: var(--yellow);
}

.menu ul {
    background-color: inherit;
    list-style: none;
    display: flex;
    justify-content: center;
    flex-grow: 1;
    gap: 90px;
}

.menu ul a {
    background-color: var(--black);
    text-decoration: none;
}

.menu ul a li {
    margin: 0 10px;
}

.menu ul li {
    font-size: large;
    background-color: var(--black);
    color: white;
    border-top: 2px solid var(--black);
    text-decoration: none;
    transition: 0.3s;
}

.menu ul li:hover {
    cursor: pointer;
    transform: translate(0, -3px);
    color: var(--yellow);
    border-top: 2px solid var(--yellow);
}

.login-btn {
    margin-right: 1.5em;
    padding: 10px 20px;
    border: 2px solid var(--yellow);
    border-radius: 12px;
    background-color: var(--yellow);
    color: var(--midblack);
    transition: 0.3s;
}

.login-btn:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
        0 17px 50px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
    transform: translate(0, -3px);
    border: 2px solid var(--midyellow);
    background-color: var(--midyellow);
    color: var(--black);
}

/* END OF NAVIGATION BAR */


/* SIDEBAR MENU SECTION */

.main-shop-container {
    display: flex;
    flex: 1;
}

.sidebar-and-products {
    display: flex;
}

.sidebardmenu-container {
    margin-top: 1em;
    margin-left: 1em;
    width: 200px; 
    height: calc(100vh - 80px); 
    background-color: var(--black); 
    padding-top: 20px; 
    z-index: 100;
    border-radius: 12px;
}

.sidebardmenu ul {
    display: flex;
    flex-direction: column;
}

.sidebardmenu ul a li {
    padding: 10px 20px;
    list-style: none;
    text-align: start;
    border: 2px solid var(--black);
    transition: .3s;
}

.sidebardmenu ul a li:hover {
    background-color: var(--grey);
}

.sidebardmenu ul a li {
    text-decoration: none;
    color: white;
}

.nav-actionbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.management-btn {
    margin-right: 2em;
    border-top: 2px solid var(--black);
    text-decoration: none;
    color: white;
    transition: .3s;
}

.management-btn:hover {
    cursor: pointer;
    transform: translate(0, -3px);
    color: var(--yellow);
    border-top: 2px solid var(--yellow);
}

.logout-btn {
    color: white;
    margin-right: 10px;
    margin-top: 10px;
}

/* END OF SIDEBAR MENU SECTION */

/* MAIN SHOP SECTION */

.grid-container {
    margin-left: 1em;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
}

.card {
    margin-top: 1em;
    position: relative;
    width: 250px;
    height: 400px;
    background: var(--black);
    border-radius: 20px;
    overflow: hidden;
}

.card::before {
    content: "";
    position: absolute;
    top: -50%;
    width: 100%;
    height: 100%;
    background: var(--midyellow);
    transform: skewY(360deg);
    transition: 0.5s;
}

.card:hover::before {
    background-color: var(--black);
    top: -70%;
    transform: skewY(390deg);
}

.card::after {
    position: absolute;
    bottom: 0;
    left: 0;
    font-weight: 600;
    font-size: 4em;
    color: rgba(0, 0, 0, 0.1);
}

.card .imgBox {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
    z-index: 1;
}

.card .contentBox {
    position: relative;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 2;
}

.card .contentBox h4 {
    font-size: 16px;
    color: white;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.card .contentBox .price {
    font-size: 20px;
    color: white;
    font-weight: 700;
    letter-spacing: 1px;
}

.card .contentBox .buy {
    position: relative;
    top: 80px;
    opacity: 0;
    padding: 8px 20px;
    margin-top: 10px;
    color: #000000;
    text-decoration: none;
    background: var(--yellow);
    border-radius: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: .3s;
}

.card:hover .contentBox .buy {
    top: 0;
    opacity: 1;
}

.card:hover {
    transition: .3s ease-in-out;
    transform: translateY(-5px);
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.item-img {
    height: 180px;
    width: auto;
}
