/* RESET WEB DEFAULT & FONTS */
* {
    font-family: "Kanit", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COLOR VARIBLE */
:root {
    --black: #1e2328;
    --midblack: #2a2e34;
    --grey: #3b3f46;
    --yellow: #ec9c04;
    --midyellow: #f5b301;
    --lightyellow: #fed053;
}

/* NAVIGATION BAR */
.menu {
    display: flex;
    height: 75px;
    background-color: var(--black);
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: auto;
    height: 75px;
}

.logo-name {
    margin-left: 1em;
    background-color: var(--black);
    color: white;
    font-size: larger;
}

.logo-name2 {
    background-color: var(--black);
    color: var(--yellow);
}

.menu ul {
    background-color: inherit;
    list-style: none;
    display: flex;
    justify-content: center;
    flex-grow: 1;
    gap: 90px;
}

.menu ul a {
    background-color: var(--black);
    text-decoration: none;
}

.menu ul a li {
    margin: 0 10px;
}

.menu ul li {
    font-size: large;
    background-color: var(--black);
    color: white;
    border-top: 2px solid var(--black);
    text-decoration: none;
    transition: 0.3s;
}

.menu ul li:hover {
    cursor: pointer;
    transform: translate(0, -3px);
    color: var(--yellow);
    border-top: 2px solid var(--yellow);
}

.login-btn {
    margin-right: 1.5em;
    padding: 10px 20px;
    border: 2px solid var(--yellow);
    border-radius: 12px;
    background-color: var(--yellow);
    color: var(--midblack);
    transition: 0.3s;
}

.login-btn:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
        0 17px 50px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
    transform: translate(0, -3px);
    border: 2px solid var(--midyellow);
    background-color: var(--midyellow);
    color: var(--black);
}

/* END OF NAVIGATION BAR */

/* MAIN SHOP */

.shop-container {
    margin: 0 auto;
}

/* SALE SECTION */

.sale-item-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 200px;
    background-image: url(../assets/sale-item-backgound.jpg);
    background-position: center;
    background-size: cover;
}

.sale-item-description {
    font-size: 2em;
    background-color: transparent;
}

.buy-btn {
    font-size: 16px;
    font-weight: 200;
    letter-spacing: 1px;
    padding: 13px 20px 13px;
    outline: 0;
    border: 1px solid black;
    cursor: pointer;
    background-color: black;
    color: white;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    transition: 0.3s;
}

.buy-btn:hover {
    color: black;
    border: 1px solid var(--midyellow);
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
        0 17px 50px 0 rgba(0, 0, 0, 0.19);
    background-color: var(--midyellow);
    transform: translateY(-2px);
}

.sale-item-img img {
    transform: scale(1.1);
    width: 500px;
    height: auto;
}

/* END OF SALE SECTION */

/* SUBMENU SECTION */

.submenu {
    background-color: var(--black);
    width: 100%;
    margin: 0 auto;
}

.submenu ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 150px;
    height: 185px;
}

.submenu ul li {
    margin-top: -30px;
    border: 2px solid transparent;
    background-color: var(--grey);
    height: 100px;
    border-radius: 50%;
    width: 100px;
    text-align: center;
    list-style: none;
    transition: 0.3s;
}

.submenu ul li:hover {
    transform: translateY(-3px);
    border: 2px solid var(--midyellow);
}

.submenu ul li a {
    text-decoration: none;
    color: white;
}

.submenu-keyboard-img {
    width: 100px;
    height: auto;
}

.submenu-mouse-img {
    width: 100px;
    height: auto;
}

.submenu-headphone-img {
    width: 100px;
    height: auto;
}

/* END OF SUBMENU SECTION */

/* MAIN SHOP SECTION */

.main-shop-container {
    width: 94%;
    margin: 0 auto;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
}

.card {
    margin-top: 2em;
    position: relative;
    width: 250px;
    height: 380px;
    background: var(--black);
    border-radius: 20px;
    overflow: hidden;
}

.card::before {
    content: "";
    position: absolute;
    top: -50%;
    width: 100%;
    height: 100%;
    background: var(--midyellow);
    transform: skewY(360deg);
    transition: 0.5s;
}

.card:hover::before {
    background-color: var(--black);
    top: -70%;
    transform: skewY(390deg);
}

.card::after {
    position: absolute;
    bottom: 0;
    left: 0;
    font-weight: 600;
    font-size: 4em;
    color: rgba(0, 0, 0, 0.1);
}

.card .imgBox {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
    z-index: 1;
}

.card .contentBox {
    position: relative;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 2;
}

.card .contentBox h3 {
    font-size: 16px;
    color: white;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.card .contentBox .price {
    font-size: 20px;
    color: white;
    font-weight: 700;
    letter-spacing: 1px;
}

.card .contentBox .buy {
    position: relative;
    top: 80px;
    opacity: 0;
    padding: 8px 20px;
    margin-top: 10px;
    color: #000000;
    text-decoration: none;
    background: var(--yellow);
    border-radius: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: .3s;
}

.card:hover .contentBox .buy {
    top: 0;
    opacity: 1;
}

.card:hover {
    transition: .3s ease-in-out;
    transform: translateY(-5px);
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
        0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.item-img {
    height: 200px;
    width: auto;
}